<h3>Заказ из Прагматик Стор отправлен</h3>
<p>
  Этим сообщением уведомляем вас, что мы отправили ваш недавний заказ:
</p>

<table>
  <tr>
    <th colspan="2">Кол-во</th>
    <th>Описание</th>
  </tr>
  <%= render @order.line_items %>
</table>
